In [1]:
import scipy.stats as sps
import numpy as np

In [2]:
np.random.seed(24)
a = sps.expon.rvs(size=30, scale=1)

In [3]:
a

array([3.2193085 , 1.20234763, 8.92736403, 0.24854764, 0.44793902,
       1.34646226, 5.64242168, 0.38030477, 0.14681301, 0.48447586,
       0.38642642, 0.45636072, 1.23667357, 2.30401041, 0.7638174 ,
       0.28408025, 1.1141521 , 0.82491808, 0.78210928, 2.23911843,
       1.85010632, 0.36530146, 0.99741884, 1.140181  , 3.52091245,
       2.24024103, 2.85468179, 1.02785233, 0.95359713, 0.25836052])

In [4]:
mean_x = np.mean(a)
sigma_sq = np.sum((a - mean_x)**2)/(a.shape[0] - 1)

In [5]:
print('CI 95% = [{}; {}]'.format(mean_x - 1.96* (sigma_sq/( a.shape[0] - 1))**(1/2),
                                 (mean_x + 1.96* (sigma_sq/( a.shape[0] - 1))**(1/2))))

CI 95% = [0.9157240590518305; 2.2606962034834606]

In [8]:
import scipy.stats as sps

In [6]:
def calc_CI (mean_x: int, sigma_sq: int, q: int = 1.96):
    CI = []
    left_border = mean_x - q*(sigma_sq/( a.shape[0] - 1))**(1/2)
    CI.append(left_border)
    right_border = mean_x + q*(sigma_sq/( a.shape[0] - 1))**(1/2)
    CI.append(right_border)
    return CI

In [7]:
import pandas as pd

In [64]:
La = []
Lb = []
for i in range(2000):
    np.random.seed(1488 + i)
    a = sps.expon.rvs(size=30, scale=1)
    mean_x = np.mean(a)
    sigma_sq = np.sum((a - mean_x)**2)/(a.shape[0] - 1)
    standard_CI = calc_CI(mean_x, sigma_sq)
    La.append(standard_CI[0])
    Lb.append(standard_CI[1])

In [65]:
borders = pd.DataFrame({'La': La,
                       'Lb': Lb})

In [66]:
borders['A'] = (borders['La'] < 1) * (borders['Lb'] > 1)

In [67]:
borders.A.mean()

0.9145

### Naive bootstrap

In [68]:
import random

In [70]:
from tqdm import tqdm

In [83]:
Ba = []
Bb = []
for i in tqdm(range(2000)):
    np.random.seed(1488 + i)
    a = sps.expon.rvs(size=30, scale=1)
    means=[]
    for j in range(1000):
        boots_a = random.choices(a, k=30)    
        means.append(np.mean(boots_a))
    means = sorted(means)
    Ba.append(np.quantile(means, 0.025))
    Bb.append(np.quantile(means, 0.975))

100%|██████████████████████████████████████████████████████████████████████████████| 2000/2000 [02:02<00:00, 16.29it/s]

In [84]:
borders

            La        Lb      A        Ba        Bb      B
0     0.727556  1.397114   True  0.939449  1.410374   True
1     0.524813  1.206287   True  0.748722  1.227931   True
2     0.530943  1.480398   True  0.844841  1.511640   True
3     0.530834  0.978572  False  0.676798  0.976954  False
4     0.639280  1.345701   True  0.870145  1.374632   True
...        ...       ...    ...       ...       ...    ...
1995  0.666941  1.749941   True  1.010449  1.849094  False
1996  0.889046  1.680542   True  1.150539  1.680612  False
1997  0.554163  1.504598   True  0.858160  1.472063   True
1998  0.412521  0.977237  False  0.589509  1.011049   True
1999  0.519384  0.972810  False  0.667762  0.974740  False

[2000 rows x 6 columns]

In [85]:
borders['Ba'] = Ba
borders['Bb'] = Bb

In [86]:
borders['B'] = (borders['Ba'] < 1) * (borders['Bb'] > 1)

In [87]:
borders.B.mean()

0.9085